

.title {
    flex-basis: 100%;
    height: 0;
}

.left-section {
    flex: 1;
    margin-right: 20px;
    padding: 20px;
    background-color: rgb(155, 125, 255);
  }
  
  .left-section h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .left-section form {
    margin-bottom: 20px;
  }
  
  .left-section input {
    padding: 8px;
    font-size: 16px;
  }
  
  .left-section button {
    padding: 8px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .left-section ul {
    list-style: none;
    padding: 0;
  }
  
  .left-section li {
    padding: 8px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .left-section li:hover {
    background-color: #f0f0f0;
  }
  .left-section button {
    margin: 10px;
  }

  .right-section {
    flex: 1;
  }
  
  .right-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .right-section p {
    margin-bottom: 5px;
  }
  
