


.page-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }
  

.top-section,
.bottom-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-section {

  border: #f0f0f0 2px solid; 
}

.bottom-section {
  border: #dcdcdc 2px solid; 
  color: #4ee;
}